html, body {
  font-family: "robotolight", Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

// Header
.navbar-toggle {
  float: none;
  margin-left: @navbar-padding-horizontal;
}

.navbar-brand {
  float: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

// Base
.rio-content {
  height: 100%; // This has to be tracked with JS and changed accordingly
}

.breadcrumb {
//  position: absolute;
//  top: @rio-navbar-height;
//  left: 0;
//  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
}

// Drawer
.rio-drawer-container {
  //margin-top: @rio-header-height;
  padding-top: @rio-navbar-height;
}

.rio-content {
  z-index: 1;
  width: 100%;
  overflow: auto;
  background: #fff;
}

//.api .rio-drawer-container {
//  //margin-top: @rio-header-height;
//  margin-top: @rio-navbar-height;
//}

// API
.api .breadcrumb {
  margin-bottom: 0;
}

// FAQ
.rio-faq-target {
  padding-top: @rio-navbar-height;
  margin-top: -@rio-navbar-height;
}

@media (min-width: @screen-sm-min) {
  .rio-navbar-header {
    font-family: "robotoregular", Helvetica, sans-serif;
  }

  // Header
  .navbar-brand {
    padding-left: @navbar-padding-horizontal;
  }

//  // Drawer
//  .rio-drawer-container {
//    margin-top: @rio-header-height;
//  }

}

@media (min-width: @screen-md-min) {
  float: right;
}

@media (min-width: @screen-lg-min) {

}

