html, body {
  font-family: "robotolight", Helvetica, sans-serif;
  overflow: hidden;
}

// Header
.navbar-toggle {
  float: none;
  margin-left: @navbar-padding-horizontal;
}

.navbar-brand {
  float: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

// Base
#rio-page-wrapper {
  overflow: auto;
  z-index: 1;
}

#rio-header {
  font-size: 16px;
}

.rio-page-content {
  padding-bottom: @padding-xs-vertical;
}

// Breadcrumb
#rio-breadcrumb {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: @rio-navbar-height;
}

// FAQ
.rio-faq-summary {
//  margin-left: (@grid-gutter-width / 2) + 4;;
  padding: 1em 2em;//(@grid-gutter-width / 2) + 4;
}

@media (min-width: @screen-sm-min) {
  // Header
  .navbar-brand {
    padding-left: @navbar-padding-horizontal;
  }

  .rio-page-content {
    padding-bottom: @padding-small-vertical;
  }
}

@media (min-width: @screen-md-min) {
  .rio-page-content {
    padding-bottom: @padding-base-vertical;
  }
}

@media (min-width: @screen-lg-min) {
  .rio-page-content {
    padding-bottom: @padding-large-vertical;
  }
}

