// Drawer
#rio-drawer-menu {
  background: @rio-drawer-bg;
  //  display: none;
  position: fixed;
  z-index: @zindex-rio-drawer !important;
  max-width: 320px;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0.9;
}

.rio-drawer-overlay {
  position: fixed;
  background: @rio-drawer-bg;
  z-index: @zindex-rio-drawer-overlay !important;
  display: none;
  opacity: 0.5;
  width: 100%;
}

.rio-drawer-open {
  //  display: block;
  //  opacity: 0.98;
}

.rio-page-content {
  //  z-index: 1;
  //  width: 100%;
  //  overflow: auto;
  //  background: #fff;
}
