{% for item in site.data.navitems %}
    {% if item.hideflat != true %}
    <li>
        <a class="{% if page.url contains item.link %}active{% endif %}" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
    </li>
    {% endif %}

    {% if item.items %}
        {% for subitem in item.items %}
            {% if subitem.hideflat != true %}
            <li>
                <a class="{% if page.url contains subitem.link %}active{% endif %}" href="{{ subitem.link }}" target="{{ subitem.target }}">{{ subitem.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
