{% for item in site.data.navitems %}
<li>
    {% if item.items %}
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ item.title }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% for subitem in item.items %}
            <li><a href="{{ subitem.link }}" target="{{ subitem.target }}">{{ subitem.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <a class="{% if page.url contains item.link %}active{% endif %}" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
    {% endif %}
</li>
{% endfor %}
