<div>&nbsp;</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
        <ol class="list-unstyled">
            <li><a href="/news">All</a></li>
            <li><a href="/news/releases">Releases</a></li>
        </ol>
    </div>
</div>

<!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">By Month</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
-->
