---
class       : news
layout      : default
title       : Releases
breadcrumbs :
    - title     : Home
      link      : /
    - title     : News
      link      : /news
    - title     : Releases
---

<div class="container">
    <div class="row">
        <!-- Content -->
        <div class="col-sm-8 blog-main">
            {% if site.categories.release %}
                {% for post in site.categories.release %}
                {% include news_index_item.html %}
                {% endfor %}
            {% else %}
            <h3>
                <div class="rio-work-in-progress">Sorry! No releases are available right now</div>
            </h3>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-sm-3 col-sm-offset-1">
            {% include news_sidebar.html %}
        </div>
    </div>
</div>

