{% include top.html %}
<body>

<!-- Header -->
{% include header.html %}

<!-- the viewport -->
<div class="m-pikabu-viewport">
    <div class="m-pikabu-sidebar m-pikabu-left">
        <ul>
            {% for item in site.data.items_topnav %}
            <li>
                <a href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- the main page content -->
    <div class="m-pikabu-container">
        <!-- Content -->
        <section class="rio-content">{{ content }}</section>
    </div>
</div>

<!-- Scripts -->
{% include scripts_common.html %}
{% include scripts_analytics.html %}
</body>
{% include bottom.html %}
