{% include top.html %}
<body class="{{ page.class }}">
{% include header.html %}
<div id="rio-page-wrapper">
    <div id ="rio-drawer-menu">
        {% include menu_drawer.html %}
    </div>
    <section class="rio-page-content">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 blog-main">
                    {{ post.title }}
                    {% include news_article.html %}
                </div>

                <!-- Sidebar -->
                <div class="col-sm-3 col-sm-offset-1">
                    {% include news_sidebar.html %}
                </div>
            </div>
        </div>
    </section>
</div>
{% include scripts_common.html %}
{% include scripts_analytics.html %}
</body>
{% include bottom.html %}
